@model  IEnumerable<CWAC19AcluMo.Models.Complaint>
@{
    ViewData["Title"] = "Index";
}

<h2>All Complaints</h2>

<table class="table">
    <thead>
        <tr>
            <th>Complaint No.</th>
            <th>Client E-mail</th>
            <th>Complaint Status</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
        {
        <tr>
            <td>@item.ComplaintNo</td>
            <td>@item.Client.Email</td>
            <td>@item.Status.Status</td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a>
            </td>
        </tr>
        }
    </tbody>
</table>