@model CWAC19AcluMo.ViewModels.UpdateComplaintViewModel

@{
    ViewData["Title"] = "Update Complaint";
}

<h2>Search for Complaint</h2>

<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <form method="get" asp-action="Update">
                <div class="form-group">
                    <label asp-for="Email"></label>
                    <input asp-for="Email" class="form-control" placeholder="Email Address"/>
                </div>
                <input type="submit" value="Search" />
            </form>
        </div>
    </div>


    @if (Model.Complaint != null)
    {
     <form asp-action="Update" method="post">
     <div class="row">
        <div class="col-sm-6">
            <table class="table">
                <thead>
                    <tr>
                        <th>Complaint No.</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>@Model.Complaint.ComplaintNo</td>
                        <td>
                            <select asp-for="StatusCodeID" asp-items="Model.StatusCodes"></select>
                            <input type="hidden" asp-for="ComplaintID"  />
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
     </div>
     <input type="submit" value="Update" />
     </form>
    }
</div>